<% provide(:title, "About")%>


<div class="hide-on-small-and-down" style="padding-top: 32px"></div>
<div class="row">
  <div class="z-depth-2 white col s12 m8 offset-m2 l6 offset-l3" style="position: relative">
    <ul class="collection with-header">
      <li class="collection-header"><h5>Founders</h5></li>
      <li class="collection-item">Bill Fishkin: President</li>
      <li class="collection-item">Stephen Phillips: Chief Technology Officer</li>
      <li class="collection-item">Mark Pullyblank: Chief Executive Officer</li>
      <li class="collection-item">Matthew Shouse: Chief Operating Officer</li>
      <li class="collection-header"><h5>Artists</h5></li>
      <li class="collection-item">Dylan Amos: </li>
      <li class="collection-item">Kevin Hand: </li>
      <li class="collection-item">Nicholas Madden: </li>
      <li class="collection-item">Jordan Merwin: Senior 3D Artist</li>
      <li class="collection-item">Cameron Schulz: </li>
      <li class="collection-header"><h5>Programmers</h5></li>
      <li class="collection-item">Patrick Panella: </li>
      <li class="collection-item">Sean Pimentel: Web Master / Dev Ops</li>
      <li class="collection-item">Jordan Salvagno: </li>
    </ul>
  </div>
</div>