<div class="hide-on-small-and-down" style="padding-top: 32px"></div>
<div class="row">
  <div class="z-depth-2 white col s12 m10 offset-m1 l8 offset-l2 animated slideInDown" style="position: relative">
    <%= image_tag "theia_logo.png", alt: "Theia Logo", class: "hide-on-med-and-down", style: "display: block; margin: 0 auto; padding-top: 16px" %>
    <%= image_tag "icon_only_150.png", alt: "Theia Logo", class: "hide-on-large-only", style: "display: block; margin: 0 auto; padding-top: 16px" %>

    <h4 class="center">Welcome to the portal!</h4>

    <div class="row center valign-wrapper">
      <div class="col s12 m9">
        <p class="flow-text">Here you can manage your Theia sessions online!</p>
      </div>
      <div class="col s12 m3">
        <%= link_to "Sign up", signup_path, class: "btn theia_blue"%>
      </div>
    </div>
  </div>
</div>