// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project_card {
  height: 200px;
  max-height: 200px;
  p.ellipse{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.animate_theia_text_blue{
  color: #3A96D1 !important;
  transition: color 300ms;
}